.disableInput{
    background-color: lightgray;
}

.dropdownInput{
    border: 0.5px solid lightgray;
    float: left;
    /* margin-right: 200px; */
    width: 350px;
    /* padding: 4px; */
}

.downloadFileIcon{
    font-size: x-large;
    color: lightslategrey;
    float: left;

    
}
.downloadFileIcon:hover{
    color: #174A81;
}

.labelDark{
    font-weight: 600;
    float: left;
}

.buttonBgColor{
    background-color: #174A81;
}
.buttonBgColor:hover{
    background-color: #174A81;
}
.colDisplay{
    /* display: flex; */
    /* float: left; */
}
.checkBox{
    /* margin-bottom: 20px;
    border-color: #174A81;
    background-color: red;
     */
     float: left;
     margin-top: 45px;
}
.checkboxiconFixedlength{
    margin-left: -95px;
}
.checkboxiconDownload{
    margin-left: -175px;
    margin-top: 5px;
}
.checkboxiconIsactive{
    margin-left: -65px;
}


.selectFileInput{
    width: 350px;
}